name: Kuna Camera RTSP Server
description: RTSP server for Kuna cameras to enable live video streaming
version: "0.1.2"
slug: kuna_server
arch:
  - aarch64
  - amd64
  - armhf
  - i386
  - armv7
startup: services
init: false
host_network: true
homeassistant: "2023.1.0"
map:
  - config:rw
options:
  username: ""
  password: ""
  port: 4554
  debug: false
  minlog: false
schema:
  username: "str"
  password: "str"
  port: "int(1,65535)?"
  debug: "bool?"
  minlog: "bool?"
